{% extends 'accounts/base.html' %}
{% load staticfiles %}
{% load get_by_index %}
{% load get_by_key %}

  {% block title %}
      <title>Grocery Purchase</title>
  {% endblock %}

{% block wallet %}

<div class="pt-2" style="margin:3px 0;">
  <a class="wallet nav-item navbar-light" style="color:rgb(255,255,255);line-height:0.5px !important;" href="{% url 'accounts:wallet_view' pk=profile.pk %}">
    <p style="line-height:0.5px;">Balance :{% block wallet_cash %}
    {{wallet.wallet_bal}}
    {% endblock %}
  </p>
  </a>
  <a class="nav-item nav-link navbar-light"style="color:rgb(255,255,255);font-size:13px;margin:5px 0;line-height:0.5px;" href="{% url 'accounts:history_transac' pk=profile.pk %}">Wallet Log</a>
</div>


<a class="nav-item pt-3 nav-link navbar-light" style="color:rgb(255,255,255);" href="{% url 'accounts:wallet_view' pk=profile.pk %}">
<img src="{% static 'wallet-icon.png' %}" height=28 width=24 class="pb-1 d-inline-block alighn-top" />
</a>

<div class="pt-2" style="margin-top:3px;">

  <a class="wallet nav-item navbar-light" style="color:rgb(255,255,255);line-height:0.5px !important;" href="{% url 'accounts:wallet_view' pk=profile.pk %}">
    <p style="line-height:0.5px">Cash :{% block cash %}
    {{wallet.cash_balance}}
    {% endblock %}
    </p>
  </a>
  <a class="wallet nav-item navbar-light" style="color:rgb(255,255,255);line-height:0.5px !important;" href="{% url 'accounts:wallet_view' pk=profile.pk %}">
    <p style="line-height:0.5px">Savings :{% block savings %}
    {{wallet.savings}}
    {% endblock %}
</p>
  </a>
  <a class="wallet nav-item navbar-light" style="color:rgb(255,255,255);line-height:0.5px !important;" href="{% url 'accounts:wallet_view' pk=profile.pk %}">
    <p style="line-height:0.5px">Loan amt :{% block loan %}
    {{wallet.loan_amt}}
    {% endblock %}
</p>
  </a>


</div>

<div class="pt-2 pl-2" style="margin-top:3px;">
  <a class="wallet nav-item navbar-light" style="color:rgb(255,255,255);line-height:0.5px !important;" href="{% url 'accounts:wallet_view' pk=profile.pk %}">
    <p style="line-height:0.5px">Recycle : {% block recycle %}
    {{wallet.recycle_wallet}}
    {% endblock %}
    </p>
  </a>
  <a class="wallet nav-item navbar-light" style="color:rgb(255,255,255);line-height:0.5px !important;" href="{% url 'accounts:wallet_view' pk=profile.pk %}">
    <p style="line-height:0.5px">Incentive : {% block incentive %}
    {{wallet.incentive_wallet}}
    {% endblock %}
    </p>
  </a>

  <a class="wallet nav-item navbar-light" style="color:rgb(255,255,255);line-height:0.5px !important;" href="{% url 'accounts:wallet_view' pk=profile.pk %}">
    <p style="line-height:0.5px">Crowd fund: {% block crowd %}
    {{wallet.crowd_wallet}}
    {% endblock %}
    </p>
  </a>


</div>

{% endblock %}

{% block head %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!--<link rel="stylesheet" href="/resources/demos/style.css">-->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{% endblock %}



{% block content %}
<h4 class="pb-3 pt-3 text-center">
    Grocery Commodities
</h4>

{% endblock %}