<!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>

  <script src="https://code.jquery.com/jquery-3.3.1.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <div id="map"></div>


    <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.
      var map, infoWindow;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 6
        });
        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            console.log(pos);
            updatelatlong(pos);
            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }

        function updatelatlong(pos){
    	$.ajax({
    		type: "POST",
    		data: {
            'pos':pos,
     	    'csrfmiddlewaretoken': '{{ csrf_token }}'
    	    },
    		url: "{% url 'accounts:map_view' pk=user.pk %}",
    		success: function () {
            }
	});
}


    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAk742GvcOPdD_qlA3-2jl57r_X-Q-dOy0&callback=initMap">
    </script>


  </body>
</html>


<!--<!DOCTYPE html>-->
<!--<html>-->
  <!--<head>-->
    <!--<style>-->
       <!--/* Set the size of the div element that contains the map */-->
      <!--#map {-->
        <!--height: 400px;  /* The height is 400 pixels */-->
        <!--width: 100%;  /* The width is the width of the web page */-->
       <!--}-->
    <!--</style>-->
  <!--</head>-->
  <!--<body>-->
    <!--<h3>My Google Maps Demo</h3>-->
    <!--&lt;!&ndash;The div element for the map &ndash;&gt;-->
    <!--<div id="map"></div>-->
    <!--<script>-->
<!--// Initialize and add the map-->
<!--function initMap() {-->
  <!--// The location of Uluru-->
  <!--var uluru = {lat: 13.046312, lng: 80.186630};-->
  <!--// The map, centered at Uluru-->
  <!--var map = new google.maps.Map(-->
      <!--document.getElementById('map'), {zoom: 4, center: uluru});-->
  <!--// The marker, positioned at Uluru-->
  <!--var marker = new google.maps.Marker({position: uluru, map: map});-->
<!--}-->
    <!--</script>-->
    <!--&lt;!&ndash;Load the API from the specified URL-->
    <!--* The async attribute allows the browser to render the page while the API loads-->
    <!--* The key parameter will contain your own API key (which is not needed for this tutorial)-->
    <!--* The callback parameter executes the initMap() function-->
    <!--&ndash;&gt;-->
    <!--<script async defer-->
    <!--src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAk742GvcOPdD_qlA3-2jl57r_X-Q-dOy0&callback=initMap">-->
    <!--</script>-->
  <!--</body>-->
<!--</html>-->